@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* RESET CSS */

body {
    background-color: #404040;
    color: #E6EFF0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

header {
    padding-left: 15%;
    padding-right: 15%;
}

main {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    float: left;
}

@media (max-width: 1020px) {
    .logo {
        display: none;
    }
}

.search {
    clear: both;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#search {
    padding: 10px;
    width: 600px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

#search:focus {
    outline: none;
}

.site-pages {
    clear: both;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.site-pages ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.site-pages li {
    padding: 10px;
    text-align: center;
    flex-direction: row;
    margin: 5px;
    background: #91de18;
    border-radius: 7px;
    transition: background 0.3s, color 0.3s;
}

.site-pages li:hover {
    background: rgba(141, 204, 136, 0.16);
}

.site-pages a {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 30px;
    color: #E6EFF0;
}

.site-pages a.active {
    background-color: #595959;
    color: #E6EFF0;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
    margin: -10px;
}

@media (max-width: 1020px) {
    .site-pages li {
        flex-direction: column;
    }
}

.products {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.products .product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    border: 1px solid #75a926;
    padding: 10px;
    text-align: center;
    width: 33.33%;
}

.product-table th {
    background-color: #7b8175;
    color: #E6EFF0;
}

.product-table tr:nth-child(odd) {
    background-color: #91de18;
}

.products-filters {
    float: left;
    margin-right: 20px;
}

.products-filters ul {
    letter-spacing: 0;
    line-height: 20px;
    float: left;
}

.products-filters h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.products-categories {
    float: left;
    margin-left: 20px;
}

.products-categories ul {
    letter-spacing: 0;
    line-height: 20px;
}

.products-categories h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

footer {
    padding-top: 10px;
    text-align: center;
    background-color: #292929;
    color: #7D7D7D;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    line-height: 23px;
}

.contacts {

}

.copyright {

}

.delivery-info,
.shops-info {
    max-width: 800px;
    margin: 0 auto;
}

.delivery-info h2,
.shops-info h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.delivery-info p,
.shops-info p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.delivery-info ul,
.shops-info ul {
    list-style: none;
    padding-left: 0;
}

.delivery-info ul li,
.shops-info ul li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.delivery-info ul li:before,
.shops-info ul li:before {
    content: '\2022';
    color: #75a926;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 0.5em;
}